.path:focus {
    background: repeating-linear-gradient(
        90deg,
        #121212 0%,
        #404040 25%,
        #404040 75%,
        #121212 100%
    );
}

.filesContainer {
    transition: transform 0.5s, top 0.5s, left 0.5s, opacity 0.5s;
}

.filesContainer::-webkit-scrollbar {
    opacity: 0;
}

.filesContainer::-webkit-scrollbar:hover {
    opacity: 1;
}
